   
    <header class="row">
        <h1>Tech blog</h1>
    </header>

    <div class="row blog-posts">
        <div class="row test-1">
            <p>test text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati neque omnis minus ex rerum deleniti iste officiis veritatis quasi expedita! Culpa molestiae fugit aliquam officia dignissimos maiores deserunt veniam nobis?</p>
        </div>
        <div class="row test-2">
            <p>test text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati neque omnis minus ex rerum deleniti iste officiis veritatis quasi expedita! Culpa molestiae fugit aliquam officia dignissimos maiores deserunt veniam nobis?</p>

        </div>
    </div>
    <script src="/javascript/test.js"></script>
    
