
<div class="d-flex justify-content-center">
    <div class="card login-card">
        <div class="card-body">
            <h5 class="card-title">login</h5>

            <form class="login-form">
                <div class="form-group">
                    <label for="email-login">email:</label>
                    <input type="text" class="form-control" id="email-login" />
                </div>
                <div class="form-group">
                    <label for="password-login">password:</label>
                    <input type="password" class="form-control" id="password-login" />
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">login</button>
                </div>
               
            </form>

             <button class="sign-up btn">
                    <a href="sign-up">sign up</a>
                </button>
        </div>
    </div>
</div>

<script src="/javascript/login.js"></script>